@page "/"

<h1>Alejandro Figueredo</h1>
<h1>https://devblogs.microsoft.com/aspnet/azure-static-web-apps-with-blazor/<h1>
<h1>Hello, world!</h1>


Welcome to your my blazor app.

<SurveyPrompt Title="How is Blazor working for you?" />
