@page "/"

<h1>Welcome to my first Blazor project</h1>
<a href="https://devblogs.microsoft.com/aspnet/azure-static-web-apps-with-blazor/">Visit the link used to the repository!</a>
<p>This is my first time working with Blazor. Looks exciting.</p>

<Counter IncrementAmount="10" />
