@page "/ipo"

<h1>IPO</h1>

<p>This program will multiple the number inputed by 5 and return the result </p>
<p>Input a number: </p>

<input @bind="InputString "/>

<button class="btn btn-primary" @onclick="DoProcessing">Calculate</button> 

<p>The result of @InputString * 5 = @OutputString </p>

@code

{

    private string InputString { get; set; }

    private string OutputString { get; set; }

    private void DoProcessing()

    {

        double num = double.Parse(InputString);

        num = num * 5; 

        OutputString = num.ToString();

    }

}